/* line 5, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../../../includes/reset.scss */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  width: 100%;
  height: 100%;
  font-size: 100px;
  overflow-x: hidden;
  overflow: auto;
  background-color: #f5f5f9;
  line-height: 1.375;
}

/* line 17, ../../../includes/reset.scss */
body {
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 750px;
  font-size: 0.24rem;
  text-align: center;
  background-color: #f5f5f9;
  font-size: 0.12rem;
  color: #000;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 31, ../../../includes/reset.scss */
input {
  -webkit-box-sizing: border-box;
  border: none;
  outline: none;
  background: none;
  font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}

/* line 39, ../../../includes/reset.scss */
a,
input,
lable,
button,
div {
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

/* line 48, ../../../includes/reset.scss */
a,
a:hover,
a:visited {
  text-decoration: none;
}

/* line 54, ../../../includes/reset.scss */
.hide {
  display: none !important;
}

/* line 58, ../../../includes/reset.scss */
input::-ms-input-placeholder {
  color: #aaa;
}

/* line 62, ../../../includes/reset.scss */
input::-webkit-input-placeholder {
  color: #aaa;
}

/* line 66, ../../../includes/reset.scss */
.loading {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f5f5f9;
  z-index: 99999;
}

/* line 75, ../../../includes/reset.scss */
.loading-icon {
  width: 0.6rem;
  height: 0.6rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -0.3rem;
  margin-left: -0.3rem;
  background: url(../images/loading.png) no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-animation: rotate360 1s linear 0s infinite;
  -moz-animation: rotate360 1s linear 0s infinite;
  animation: rotate360 1s linear 0s infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  z-index: 99;
}

@-moz-keyframes rotate360 {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
@keyframes rotate360 {
  from {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
@-webkit-keyframes rotate360 {
  from {
    -webkit-transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
  }
}
/* line 124, ../../../includes/reset.scss */
img {
  width: 100%;
}

/* line 150, ../../../includes/reset.scss */
.toast {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}

/* line 159, ../../../includes/reset.scss */
.toast .toast-alert {
  width: 2.35rem;
  height: 0.8rem;
  padding: 0 0.2rem;
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -0.65rem;
  margin-left: -1.175rem;
  border-radius: 6px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 175, ../../../includes/reset.scss */
.toast .toast-alert .toast-msg {
  padding-top: 0.25rem;
  height: 0.9rem;
  line-height: 1.6;
  color: #fff;
  font-size: 0.15rem;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  position: relative;
}

/* line 189, ../../../includes/reset.scss */
.main {
  position: relative;
  min-height: 100%;
}

/* line 4, ../../../sass-lib/_common.scss */
.borderBottom1px:after, .borderTop1px:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  -moz-transform: translateY(0.5);
  -ms-transform: translateY(0.5);
  -webkit-transform: translateY(0.5);
  transform: translateY(0.5);
  background-color: #e6e6e6;
  z-index: 99;
}

/* line 15, ../../../sass-lib/_common.scss */
.borderRight1px:before, .borderLeft1px:before {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 1px;
  -moz-transform: translateX(0.5);
  -ms-transform: translateX(0.5);
  -webkit-transform: translateX(0.5);
  transform: translateX(0.5);
  background-color: #e6e6e6;
  z-index: 99;
}

/* line 2, ../../../sass-lib/_public.scss */
.borderBottom1px:after {
  left: 0;
  bottom: 0;
}

/* line 10, ../../../sass-lib/_public.scss */
.borderTop1px:before {
  left: 0;
  top: 0;
}

/* line 17, ../../../sass-lib/_public.scss */
.borderRight1px:before {
  right: 0;
  top: 0;
}

/* line 25, ../../../sass-lib/_public.scss */
.borderLeft1px:before {
  left: 0;
  top: 0;
}

/* line 32, ../../../sass-lib/_public.scss */
.icon-right {
  display: block;
  width: 0.06rem;
  height: 0.11rem;
  position: absolute;
  top: 50%;
  right: 0.15rem;
  margin-top: -0.055rem;
}
/* line 40, ../../../sass-lib/_public.scss */
.icon-right img {
  display: block;
  width: 100%;
}

/* line 4, ../../../sass-lib/header.scss */
.header {
  width: 100%;
  height: 0.8rem;
  background-color: #009ff0;
  text-align: center;
  line-height: 0.44rem;
  position: relative;
}
/* line 11, ../../../sass-lib/header.scss */
.header .center {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0.5rem;
  position: relative;
  font-size: 0.18rem;
  color: #fff;
}
/* line 19, ../../../sass-lib/header.scss */
.header .left, .header .right {
  height: 0.85rem;
  position: absolute;
  top: 0;
  z-index: 99;
  font-size: 0;
}
/* line 26, ../../../sass-lib/header.scss */
.header .left {
  left: 0;
  width: 0.5rem;
}
/* line 30, ../../../sass-lib/header.scss */
.header .right {
  right: 0.15rem;
  font-size: 0.15rem;
  color: #fff;
}

.header .nav li{
  font-size: 0.15rem;
  float: left;
  height:0.4rem;
  text-align: center;
  color: #1FAAF1;
  width: 50%;
  background: #DEEBF7;
}
.header .nav .active{
  color: #FFF;
  background: #00A0F1;
}
.header .shopLink a{
	color: #FFF;
}
.header .shopLink li{
  font-size: 0.13rem;
  float: left;
  height:0.4rem;
  text-align: center;
  width: 25%;
}
/* line 35, ../../../sass-lib/header.scss */
.header .icon-back {
  display: inline-block;
  width: 0.15rem;
  height: 0.15rem;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -0.075rem;
  margin-top: -0.075rem;
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

/* line 4, ../sass/book.scss */
.header em {
  position: absolute;
  top: 0.1rem;
  right: -0.03rem;
  width: 0.06rem;
  height: 0.06rem;
  border-radius: 50%;
  background-color: #ff5050;
}

/* line 15, ../sass/book.scss */
.main {
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: #fff;
}

/* line 22, ../sass/book.scss */
#wrapper {
  position: absolute;
  z-index: 1;
  left: 0rem;
  padding-left: 0.15rem;
  right: 0;
  top: 0.3rem;
  bottom: 0.05rem;
}

/* line 35, ../sass/book.scss */
#scroller {
  -webkit-tap-highlight-color: transparent;
  width: 100%;
}

/* line 140, ../../../includes/reset.scss */
#scroller ul:after:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

/* line 44, ../sass/book.scss */
.book-date {
  border-bottom: 2px solid #e1e1e1;
}
/* line 46, ../sass/book.scss */
.book-date .data-change {
  float: right;
  width: 0.55rem;
  margin-left: 0;
}
/* line 50, ../sass/book.scss */
.book-date .data-change img {
  width: 0.12rem;
  margin-top: 0.1rem;
}
/* line 55, ../sass/book.scss */
.book-date .expend {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}
/* line 59, ../sass/book.scss */
.book-date .bg {
  background: url(../images/border-r.jpg) right top repeat-y, url(../images/border-r.jpg) left top repeat-y;
}
/* line 62, ../sass/book.scss */
.book-date .expend + .date-wrap ul {
  left: -2.4rem;
}
/* line 65, ../sass/book.scss */
.book-date .data-change, .book-date li {
  height: 0.4rem;
}
/* line 68, ../sass/book.scss */
.book-date .date-wrap {
  overflow: hidden;
  margin-bottom: -2px;
}
/* line 71, ../sass/book.scss */
.book-date .date-wrap ul {
  position: relative;
  width: 200%;
}
/* line 74, ../sass/book.scss */
.book-date .date-wrap ul li {
  color: #666;
  float: left;
  width: 0.8rem;
  border-bottom: 2px solid #e1e1e1;
  background: url(../images/border-r.jpg) right top repeat-y;
}
/* line 81, ../sass/book.scss */
.book-date .date-wrap ul li p:nth-of-type(1) {
  font-size: 0.15rem;
}
/* line 84, ../sass/book.scss */
.book-date .date-wrap ul li p:nth-of-type(2) {
  font-size: 0.12rem;
}
/* line 89, ../sass/book.scss */
.book-date .date-wrap ul .active {
  color: #009ff0;
  border-bottom: 2px solid #009ff0;
}
/* line 140, ../../../includes/reset.scss */
.book-date .date-wrap ul:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

/* line 98, ../sass/book.scss */
.book-container {
  position: absolute;
  top: 1.2rem;
  bottom: 1.41rem;
  left: 0;
  width: 100%;
  overflow: hidden;
}
/* line 105, ../sass/book.scss */
.book-container .book-area, .book-container .book-time {
  color: #666;
  font-size: 0.12rem;
  position: absolute;
  overflow: hidden;
}
/* line 110, ../sass/book.scss */
.book-container .book-area .active, .book-container .book-time .active {
  color: #009ff0;
}
/* line 114, ../sass/book.scss */
.book-container .book-area {
  top: 0.1rem;
  left: 0.15rem;
  right: 0;
  height: 0.16rem;
}
/* line 119, ../sass/book.scss */
.book-container .book-area > ul {
  position: absolute;
}
/* line 121, ../sass/book.scss */
.book-container .book-area > ul li {
  float: left;
  width: 0.9rem;
  height: 0.16rem;
  margin-right: 1px;
  overflow: hidden;
}
/* line 140, ../../../includes/reset.scss */
.book-container .book-area:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 132, ../sass/book.scss */
.book-container .book-time {
  top: 0.26rem;
  bottom: 0;
  left: 0;
  width: 0.5rem;
  text-align: right;
}
/* line 138, ../sass/book.scss */
.book-container .book-time > ul {
  position: absolute;
  width: 100%;
  left: 0;
}
/* line 142, ../sass/book.scss */
.book-container .book-time > ul li {
  height: 0.3rem;
  border-bottom: 1px solid #fff;
}
/* line 146, ../sass/book.scss */
.book-container .book-time > ul li span:nth-of-type(1) {
  font-size: 0.13rem;
}
/* line 149, ../sass/book.scss */
.book-container .book-time > ul li span:nth-of-type(3) {
  display: inline-block;
  vertical-align: middle;
  width: 6px;
  height: 1px;
  margin-left: 3px;
  background-color: #666;
}
/* line 162, ../sass/book.scss */
.book-container .book-list {
  color: #fff;
  font-size: 0.12rem;
}
/* line 140, ../../../includes/reset.scss */
.book-container .book-list:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 166, ../sass/book.scss */
.book-container .book-list ul {
  float: left;
}
/* line 168, ../sass/book.scss */
.book-container .book-list ul li {
  width: 0.9rem;
  height: 0.36rem;
  line-height: 0.18rem;
  border-radius: 2px;
  margin-bottom: 1px;
  margin-right: 1px;
  background-color: #6ad449;
  text-align: center;
}
/* line 177, ../sass/book.scss */
.book-container .book-list ul .disable {
  background-color: #cdcdcd;
}
/* line 181, ../sass/book.scss */
.book-container .book-list ul .selected {
  background-color: #009ff0;
}
.book-container .book-list ul .sold {
  background-color: #d9534f;
}

/* line 188, ../sass/book.scss */
.book-order {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.41rem;
  background-color: #fff;
}

/* line 197, ../sass/book.scss */
.book-tip {
  color: #636363;
  font-size: 0;
}
/* line 200, ../sass/book.scss */
.book-tip li {
  display: inline-block;
  margin: 0.25rem 0.15rem 0;
}
/* line 203, ../sass/book.scss */
.book-tip li div {
  border-radius: 3px;
  font-size: 0.12rem;
}
/* line 206, ../sass/book.scss */
.book-tip li div:nth-of-type(1) {
  width: 0.45rem;
  height: 0.2rem;
  margin-bottom: 0.1rem;
}
.book-tip li:nth-of-type(1) div:nth-of-type(1) {
  background-color: #6ad449;
}
/* line 218, ../sass/book.scss */
.book-tip li:nth-of-type(2) div:nth-of-type(1) {
  background-color: #009ff0;
}
/* line 223, ../sass/book.scss */
.book-tip li:nth-of-type(3) div:nth-of-type(1) {
  background-color: #d9534f;
}
.book-tip li:nth-of-type(4) div:nth-of-type(1) {
  background-color: #cdcdcd;
}

/* line 230, ../sass/book.scss */
.book-tip, .book-orderinfo {
  height: 0.91rem;
}

/* line 234, ../sass/book.scss */
.book-orderinfo {
  font-size: 0;
}
/* line 236, ../sass/book.scss */
.book-orderinfo li {
  display: inline-block;
  vertical-align: middle;
  width: 0.75rem;
  height: 0.5rem;
  border: 1px solid #009ff0;
  border-radius: 3px;
  margin: 0.2rem 0.07rem 0;
}
/* line 244, ../sass/book.scss */
.book-orderinfo li div {
  line-height: 0.25rem;
}
/* line 246, ../sass/book.scss */
.book-orderinfo li div:nth-of-type(1) {
  font-size: 0.12rem;
  color: #fff;
  background-color: #009ff0;
}
/* line 251, ../sass/book.scss */
.book-orderinfo li div:nth-of-type(2) {
  font-size: 0.13rem;
  color: #009ff0;
}

/* line 259, ../sass/book.scss */
.book-submit {
  margin: 0 0.3rem;
  height: 0.4rem;
  font-size: 0.15rem;
  color: #fff;
  border-radius: 5px;
  background-color: #71c855;
}
/* line 267, ../sass/book.scss */
.book-submit div:only-child {
  line-height: 0.4rem;
}
/* line 270, ../sass/book.scss */
.book-submit div:nth-of-type(2) {
  line-height: 0.2rem;
  font-size: 0.12rem;
}

/* line 277, ../sass/book.scss */
.book-headTip {
  position: fixed;
  top: -0.6rem;
  left: 0;
  z-index: 100;
  width: 100%;
  text-align: left;
  text-indent: 2em;
  padding: 0.1rem 0;
  background-color: #fff9d2;
  color: #222;
}

/* line 290, ../sass/book.scss */
.book-noPaySprite {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  font-size: 0.15rem;
  color: #666;
  background-color: rgba(0, 0, 0, 0.5);
}
/* line 300, ../sass/book.scss */
.book-noPaySprite ul {
  width: 2.75rem;
  position: relative;
  top: 50%;
  margin: 0 auto;
  line-height: 1;
  text-align: left;
  overflow: hidden;
  background-color: #fff;
  border-radius: 5px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
/* line 314, ../sass/book.scss */
.book-noPaySprite ul li:nth-of-type(1) {
  padding: 0 0.15rem;
  line-height: 0.4rem;
  border-bottom: 1px solid #e6e6e6;
  text-align: center;
}
/* line 320, ../sass/book.scss */
.book-noPaySprite ul li:nth-of-type(2) {
  padding: 0.1rem 0.15rem;
  line-height: 1.6;
}
/* line 325, ../sass/book.scss */
.book-noPaySprite ul li:nth-of-type(2) p span:nth-of-type(1) {
  float: left;
  margin-right: 0;
}
/* line 329, ../sass/book.scss */
.book-noPaySprite ul li:nth-of-type(2) p span:nth-of-type(2) {
  color: #222;
  display: block;
  overflow: hidden;
}
/* line 333, ../sass/book.scss */
.book-noPaySprite ul li:nth-of-type(2) p span:nth-of-type(2) em {
  display: block;
}
/* line 340, ../sass/book.scss */
.book-noPaySprite ul li:nth-of-type(3) {
  text-align: center;
  border-top: 1px solid #e6e6e6;
}
/* line 140, ../../../includes/reset.scss */
.book-noPaySprite ul li:nth-of-type(3):after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 344, ../sass/book.scss */
.book-noPaySprite ul li:nth-of-type(3) div {
  float: left;
  width: 50%;
  line-height: 0.4rem;
  background-color: #f9f9f9;
}
/* line 350, ../sass/book.scss */
.book-noPaySprite ul li:nth-of-type(3) #book-Cancel {
  background-image: url(../images/border-r.jpg);
  background-position: right top;
  background-repeat: repeat-y;
}
/* line 355, ../sass/book.scss */
.book-noPaySprite ul li:nth-of-type(3) a div {
  color: #009ff0;
}
/* line 361, ../sass/book.scss */
.book-noPaySprite a, .book-noPaySprite a:hover, .book-noPaySprite a:visited {
  color: #666;
}
